/* You can add global styles to this file, and also import other style files */
body, div {
    margin: 0;
    padding: 0;
}

@import '@angular/cdk/overlay-prebuilt.css';
@import './app/app.component.scss';
@import '../packages/triton/src/style.scss';

.triton-snapshot-container {
    .draggable-element {
        position: initial;
        transform: none;
    }
}
